adbc_driver_manager==1.10.0
adbc_driver_postgresql==1.10.0
adbc_driver_sqlite==1.10.0
AppKit==0.2.8
attr==0.3.2
beautifulsoup4==4.14.3
botocore==1.42.49
bpython==0.26
brotli==1.2.0
brotlicffi==1.2.0.0
chardet==5.2.0
colorama==0.4.6
ConfigParser==7.2.0
coreschema==0.0.4
cryptography==46.0.5
cycler==0.12.1
Cython==3.2.4
django_crispy_forms==2.5
docutils==0.22.4
email_validator==2.3.0
eval_type_backport==0.3.1
fastparquet==2025.12.0
filelock==3.24.0
Foundation==0.1.0a0.dev1
fsspec==2026.2.0
h2==4.3.0
HTMLParser==0.0.2
hypothesis==6.151.6
inflection==0.5.1
ipdb==0.13.13
ipython==9.10.0
ipywidgets==8.1.8
isort==7.0.0
jnius==1.1.0
keyring==25.7.0
lxml==6.0.1
Markdown==3.10.2
MarkupSafe==3.0.3
matplotlib==3.10.8
mtrand==0.1
MySQL-python==1.2.5
numexpr==2.14.1
odfpy==1.4.1
openpyxl==3.1.5
oracledb==3.4.2
Pillow==12.1.1
protobuf==6.33.5
psutil==7.0.0
psycopg==3.3.2
psycopg_pool==3.3.0
PyInstaller==6.19.0
pylibmc==1.6.3
pymemcache==4.0.0
pyodide==0.0.2
pyOpenSSL==25.3.0
PyQt4==4.11.4
PyQt5==5.15.11
pyqt5_sip==12.17.1
pytest==9.0.2
pytest_run_parallel==0.8.2
python-dotenv==1.2.1
python_calamine==0.6.1
pytz==2025.2
pywatchman==3.0.0
pyxlsb==1.0.10
PyYAML==6.0.3
qtpy==2.4.3
s3fs==2026.2.0
scikit_learn==1.8.0
scipy==1.17.0
scipy_doctest==2.1.0
setuptools==82.0.0
simplejson==3.20.2
Sphinx==9.1.0
SQLAlchemy==2.0.46
tables==3.10.2
tblib==3.2.2
thread==2.0.6
threadpoolctl==3.6.0
toml==0.10.2
traitlets==5.14.3
uritemplate==4.2.0
urllib3_secure_extra==0.1.0
xlrd==2.0.2
xlsxwriter==3.2.9
xmlrpclib==1.0.1
